[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/zsh-history-substring-search"]
	path = zsh/.zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
