# Tmux plugin can be installed through tmux 'prefix + I'
tmux/.tmux/plugins/*/

# Ignore vim plugins. Can be installed with ':PlugInstall'
nvim/.config/nvim/plugged/*/

# Ignore netrw history file
nvim/.config/nvim/.netrwhist
